.carousel {
  position: relative;
  .carousel__content {
    height: 538px;
    background: url("../img/image 6.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    .carousel-item {
      position: relative;
      height: 392px;

      img {
        left: 86px;
        position: absolute;
        display: inline-block;
       
      }
      .carousel__caption {
        top: 30%;
        right: 10%;
        position: absolute;
        h5 {
          font-size: 40px;
          font-weight: 300;
        }
        p {
          padding-bottom: 10px;
        }
      }
    }
  }
  .carousel-control-prev {
    justify-content: flex-start;
  }
  .carousel-control-next {
    justify-content: end;
  }
  .carousel-indicators [data-bs-target] {
    border: 1px solid rgb(191, 187, 187);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 10px;
  }
  .carousel-indicators {
    bottom: -10%;
  }
}
